[Desktop Entry]
Encoding=UTF-8
Name=Link to Baxter Hands-On Practical | QUT Robotics and Autonomous Systems Winter School 2015 | Juxi.net
Type=Link
URL=http://juxi.net/WinterSchool/2015/
Icon=text-html
Name[en_AU]=Baxter Hands-On Practical Juxi.net
