#  udev rules file for Point Grey Firefly-MV
#BUS=="usb", SYSFS{idVendor}=="1e10", SYSFS{idProduct}=="2001", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="2001", GROUP="plugdev", SYMLINK+="firefly", MODE:="0666"
